* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*outline: red 1px solid;*/
}


.justify-flex{display: flex; justify-content: flex-start;}
.column{display: flex;justify-content: center;flex-direction:column;align-items: center;}
.flex-direction-row { display: flex; justify-content: center; align-items: center; flex-direction: row ; }
.justify-center {display: flex; justify-content: center; align-items: center; }
.home-header{ max-width: 100vw; padding-right: 20px;  padding-left: 20px; height: 100px; width: 100%;justify-content: space-between;    background-color: #000000;}
.wit{ color: #FFFFFF; }
.border{ border:   10px solid; box-shadow: 0px 0px 30px black ; }

body{
    background-color: #0A1117;
} 

.contact-box{
    height: 850px;
    width: 1550px;
    background: linear-gradient(to right, #525151 0%,  #52515100  100%); 
    gap:100px;
}

.naam input{
    background-color: transparent;
    position: absolute;
    top:470px;
    border: none;                  
    outline: none;
    color: white;                  
    padding: 5px;
    font-size: 16px;
   
}

.padding{
    padding-top:50px;
}

::placeholder{
    color: #FFFFFF;
}

.contact-blauw-container{
    width: 100%;
    gap: 100px;
}

.streep{
    height: 20px;
    width: 400px;
    background-color: #00A8CD;
}

.email input {
    background-color: transparent;
    position: absolute;
    top:710px;
    border: none;                  
    outline: none;
    color: white;                  
    padding: 5px;
    font-size: 16px;

}

.streep-message textarea{
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 55px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  resize: none;
}



.header-nav {
    display: flex;
    gap: 100px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size:  30px;
}

footer nav a {
  text-decoration: none;
    color: #FFFFFF;
     font-size:  30px;
}

.streep-message{
 height: 50%;
 width: 920px;
 border: solid 15px #00A8CD;
 
}

.streep-container{
     padding-top: 100px;
}
.project{
    width: 1500px;
    height: 1500px;

}
.contact-me {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.blue-text{
    color:  #00A8CD ;
}

.footer-img{
    display: flex;
    gap: 300px;
    padding-bottom: 20px;
}

.home-footer img {
 height: 170%;

}

.social image {
   height: 170%; 
}

.about-me-container { 
 background-image: url('../img/shahba.png');
 background-size: cover; 
 background-position: center;
  height:700px;
  width:1500px;
  padding-top: 100px;
}

.project-box{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #525151 0%,  #52515100  100%); 
    gap:100px;
    justify-content: space-evenly;
    padding: 50px;
    
     
}
.
.project-pinkgoose{
    display: flex;
    height: 50%;
    width: 600px;
    align-items: center ;
    border-radius: 25px;
}

.project-mastermind-pinkgoose{
   display: flex; 
   flex-direction: row; 
   gap: 100px;
   width: 100%;
   height: 100%;

}