* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*outline: red 1px solid;*/
}


.justify-flex {
    display: flex;
    justify-content: flex-start;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.column-align-flex {
    display: flex;
    flex-direction: column;

}

.flex-direction-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    width: 750px;
    display: flex;
    justify-content: start;
    gap: 100px;
}

.portfolio {
    width: 250px;
    display: flex;
    justify-content: flex-end;

}

.home-header {
    max-width: 100vw;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    background-color: #000000;
}

.wit {
    color: #FFFFFF;
}

.border {
    border: 10px solid;
    box-shadow: 0px 0px 30px black;
}

body {
    background-color: #0A1117;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-box {
    height: 1050px;
    width: 1550px;
    background: linear-gradient(to right, #525151 0%, #52515100 100%);
    flex-wrap: wrap;
}

.contact {
    display: flex;
    gap: 20px;

}

.message-roc {
   width: 1250px;
   gap: 90px;
}

.message-roc-box {
    display: flex;
    gap: 230px;
    flex-wrap: wrap;
   
}

::placeholder {
    color: #FFFFFF;
}

.contact-blauw-container {
    gap: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
}

.email input {
    width: 520px;
    border: none;
    border-bottom: 2px solid #00A8CD;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 16px;



}


.streep-message textarea {
    background-color: transparent;
    border: 2px solid #00A8CD;
    color: white;
    font-size: 16px;
    width: 360px;
    height: 360px;
    resize: none;

}

.streep-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.message-map-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;

}

header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}

footer nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}





.project {
    width: 1500px;
    height: 1500px;
}

.contact-me {
    display: flex;
    align-items: center;
    gap: 10px;

}


.blue-text {
    color: #00A8CD;
}

.footer-img {
    display: flex;
    gap: 300px;
    align-items:center;
  
}


.home-footer img {
    height: 65px;

}


.about-me-container {
    background-image: url('../img/coderen.png');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1500px;
    gap: 60px;
    filter: blur(1px);

}

.about-me h3 {
    font-size: 25px;
    color: black;
}

.project-box {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #525151 0%, #52515100 100%);
}

.project-pinkgoose {
    height: 50%;
    width: 600px;
    align-items: center;
    border-radius: 25px;
    gap: 10px;
}

.project-mastermind-pinkgoose {
    display: flex;
    flex-wrap: wrap;
    height: 1250px;
    gap: 50px;
    border-radius: 25px;
    justify-content: center;
}


.pinkgoose-img img {

    height: 350px;
    width: 575px;


}

.mastermind-img img {
    height: 350px;
    width: 570px;

}


.project-week img {
    height: 350px;
    width: 570px;

}

.versturen {
    border: 5px solid #00A8CD;
    width: 200px;
    background-color: #00A8CD;
    border-radius: 10px;
}


.about-me-container img {
    transition: transform 0.1s linear;
}

.roc-nijmegen img {
    height: 350px;
    width: 570px;
}

.roc-nijmegen {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.adres{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: flex;
}

@media (max-width: 700px) {

    .flex-direction-row {
        flex-direction: column !important;
        height: auto;


    }

    .header-nav {
        flex-direction: column !important;
        padding-top: 50px;
        padding-bottom: 50px;

    }

}

.portfolio-footer {
    width: 250px;
    display: flex;
    justify-content: flex-end;

}